
span,
i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/* 모달창 */

#create_modal{
  display: none;
}
.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 900px;
  /* max-height: 80vh;
  overflow-y: auto;
  /* height: 4000px; */
  position: fixed;
  /* top: 50px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.headline1 {
  display: flex;
  margin-bottom: 100px;
}

.profile_img_box {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  overflow: hidden;
  background-color: palegreen;
}

.headline2 {
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.headline3 {
  text-align: right;
  margin-bottom: 10px;
}

.headline3_create_modal{
  display: none;
}

.edit_btn {
  border: 5px solid black;
  cursor: pointer;
}

.remove_btn {
  border: 5px solid black;
  cursor: pointer;
}

.add_photo_btn {
  border: 5px solid black;
  cursor: pointer;
}

.contents_area {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

/* .comments_area {
  background-color: yellow;
} */

.title {
  padding-left: 10px;
  display: inline;
  color: black;
  font-size: 34px;
}

#close-area {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  color: black;
  font-size: 50px;
  margin-left: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0px solid #666666;
}
#close-area > i{
  left: 0 !important;
}

.content_pic img{
  max-height: 250px;
}

.content {
  margin: 20px 0px;
  padding: 0px 10px;
  color: black;
}

.comment {
  padding: 0px 10px;
  color: black;
}

.title2 {
  padding-left: 10px;
  color: black;
  font-size: 34px;
  width: 800px;
  border: none;
}

.content2 {
  margin: 20px 0px;
  padding: 0px 10px;
  color: black;
  min-width: 870px;
  min-height: 350px;
  font-size: 16px;
  border: 1px solid black;
}

/* 모달창 댓글 */

.form-commentInfo {
  display: flex;
}

.comment-input {
  min-width: 700px;
  min-height: 60px;
  margin-top: 10px;
  width: 85%;
  border: none;
  border-bottom: 1px solid black;
}

.submit {
  margin-left: auto;
  margin-top: 10px;
  background-color: white;
  width: 10%;
  height: 60px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.comments_btn_wrap {
  text-align: right;
  margin-top: 30px;
}

.comments_content {
  width: 100%;
  min-height: 80px;
  margin-top: 10px;
}

.comments_profile_wrap {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.date {
  margin-left: auto;
}

.create_modal{
  display: none;
} #red {
  color: blue;
}

.cursor {
  cursor: pointer;
}

.profile_wrap {
  display: flex;
  align-items: center;
}

.profile_name {
  margin-left: 10px;
}

.xBtn {
  font-size: 20px;
  position: absolute;
}

.btn {
  padding: 5px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #666666;
  cursor: pointer;
  position: relative;
}

.ml10 {
  margin-left: 10px;
}
