span,
i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/* 모달창 */

#create_modal {
  display: none;
}
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
  background: #f4f6ff;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 900px;
  /* max-height: 80vh;
  overflow-y: auto;
  /* height: 4000px; */
  position: fixed;
  /* top: 50px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-height: 80vh;
  overflow-y: auto;
}

.headline1 {
  display: flex;
  margin-bottom: 50px;
}

.profile_img_box {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  overflow: hidden;
}
.profile_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline2 {
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  background-color: transparent;
}

.headline3 {
  text-align: right;
  margin-bottom: 10px;
}

.headline3_create_modal {
  display: none;
}

.edit_btn {
  border: 5px solid black;
  cursor: pointer;
}

.remove_btn {
  border: 5px solid black;
  cursor: pointer;
}

.add_photo_btn {
  border: 5px solid black;
  cursor: pointer;
}

/* .comments_area {
  background-color: yellow;
} */

.title {
  padding-left: 10px;
  margin-bottom: 10px;
  display: inline;
  color: black;
  font-size: 34px;
}

#close-area {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  color: black;
  font-size: 50px;
  margin-left: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px solid #666666;
}
#close-area > i {
  left: 0 !important;
}

.content_pic img {
  max-height: 250px;
}

.content {
  margin: 20px 0px;
  padding: 0px 10px;
  color: black;
}

.title2 {
  padding-left: 10px;
  color: black;
  font-size: 34px;
  width: 800px;
  border: none;
  background-color: transparent;
}

.content2 {
  margin: 20px 0px;
  padding: 20px;
  color: black;
  width: 860px;
  min-height: 350px;
  font-size: 16px;
  border: 1px solid #cccccc;
  outline: none;
}

.save_fanpick_wrap {
  margin-left: auto;
}

#save_fanpick_ {
  width: 160px;
  height: 60px;
  background-color: #5a72dc;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #666666;
  cursor: pointer;
  position: relative;
}

#save_fanpick_:hover {
  background-color: #ffffff;
  color: #5a72dc;
}

/* 모달창 댓글 */

.form-commentInfo {
  background-color: #fefefe;
  display: flex;
  border: 1px solid #888;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.comment-input {
  min-height: 60px;
  width: 85%;
  border: none;
  border-radius: 5px;
  background-color: #fefefe;
}

.comment-input:focus {
  outline: none;
}

.submit {
  margin-left: auto;
  background-color: #5a72dc;
  color: #ffffff;
  width: 12%;
  height: 67px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 5px;
}

.submit:hover {
  background-color: #ffffff;
  color: #5a72dc;
}

.comments_btn_wrap {
  text-align: right;
  margin-top: 30px;
}

.comment {
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 14px;
}

.comments_content2 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

.comments_profile_wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #cccccc;
  font-weight: bold;
  font-size: 14px;
}

.date {
  font-weight: lighter;
  color: #999;
  margin-left: auto;
  margin-right: 10px;
}

.create_modal {
  display: none;
}
#red {
  color: blue;
}

.cursor {
  cursor: pointer;
}

.profile_wrap {
  display: flex;
  align-items: center;
}

.profile_name {
  margin-left: 10px;
}

.xBtn {
  font-size: 20px;
  position: absolute;
}

.btn {
  background-color: #5a72dc;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #666666;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  background-color: #ffffff;
  color: #5a72dc;
}

.ml10 {
  margin-left: 10px;
}

#newsFeed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
