.myPage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.basic_ {
  width: 315px;
  height: 22px;
  border: none;
  background-color: #ccb9ed;
  padding: 10px 20px;
  border-radius: 5px;
}

.disabled_ {
  width: 315px;
  height: 22px;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
}

.disabled_::placeholder {
  color: #1c134e;
  font-weight: bold;
}

.basic_::placeholder {
  color: #1c134e;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.t_a {
  width: 315px;
  height: 100px;
  border: none;
  padding: 20px;
  border-radius: 5px;
}

#profileView {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.myPage-img {
  margin-top: 30px;
}

.myPage-profiles {
  width: 500px;
}

.myPage-profiles ul {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.flex li {
  list-style: none;
}

.flex-greet {
  width: 358px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.flex-greet a {
  margin: 4px;
  padding: 8px 5px 5px 5px;
  border-radius: 30px;
  background-color: black;
  font-weight: 700;
  font-size: 10px;
}

.myPage-save {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 30px;
}

.myPage-save input {
  width: 160px;
  height: 50px;
  border-radius: 30px;
  font-size: 18px;
  padding: 8px 15px 5px 15px;
  background-color: #1c134e;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.myPage-save input:hover {
  background-color: #ccb9ed;
  color: #1c134e;
  border: 1px solid #7065af;
}

.profile-menu-login,
.profile-menu-logout {
  width: 130px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  filter: drop-shadow(rgb(0 0 0 / 10%) 0px 0px 8px);
  z-index: 5;
  right: 0;
}

.profile-menu-login a,
.profile-menu-logout a,
.profile-menu-login p,
.profile-menu-logout p {
  padding: 10px;
}

.profile-menu-login a:hover,
.profile-menu-logout a:hover,
.profile-menu-login p:hover,
.profile-menu-logout p:hover {
  background-color: rgb(236, 236, 236) !important;
  color: blueviolet !important;
}

.profile-menu-logout a:hover {
  background-color: rgb(236, 236, 236) !important;
  color: blueviolet !important;
}

.displayblock {
  display: block;
}

.menu_display {
  display: none;
  position: relative;
}

#imgInput {
  display: none;
}

.menu_display-logout {
  display: none;
  position: relative;
}

.err_msg_div {
  width: 500px;
  height: 20px;
  text-align: right;
  color: red;
}
