body {
  margin: 0 auto;
  background-color: rgb(249, 249, 249);
}

body {
  display: flex;
  justify-content: center;
}

p {
  margin: 0px;
}

textarea {
  resize: none;
}

.container {
  margin: 30px 70px;
  display: flex;
  width: 1400px;
  min-width: 1400px;
  justify-content: center;
  background-color: white;
  border: 1px solid lightgray;
}

.sidebar_container {
  width: 18%;
  border-right: 1px solid gray;
}

.search_category {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_input {
  border: none;
  height: 34px;
  width: 193px;
  padding: 3px 10px;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.fa-magnifying-glass {
  font-size: 23px;
  margin: 7px;
}

.categorys > span {
  font-size: 20px;
}

.category_container {
  margin: 5px 15px;
}

.categorys > h4 {
  position: relative;
  margin: 27px 0 10px 0;
}

h4 {
  font-size: 20px;
}

.fa-angle-right {
  font-size: 15px;
  margin: 0 15px;
  position: absolute;
  top: 3px;
}

.mypick_content {
  display: flex;
  margin: 0 0 10px 6px;
  letter-spacing: 2px;
  justify-content: space-between;
}

.category_bookmark {
  font-size: 13px;
  margin-right: 10px;
  flex-basis: 13px;
}

.category_name {
  width: 150px;
}

.category_vote,
.category_request {
  font-size: 13px;
}

.main_container {
  width: 82%;
  padding: 5px 20px;
}

.nav_container {
  border-bottom: 1px solid gray;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.nav_logo img {
  height: 70px;
  object-fit: cover;
}

.nav_profile img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 3px 5px 0 0;
  object-fit: cover;
}

.whatitname_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  align-items: center;
}

.whatitname_right {
  margin: 0 25px;
  display: flex;
}

.whatitname_left span {
  margin: 0 10px;
}

.fa-heart,
.fa-clock {
  margin-right: 5px;
}

.whatitname_right button {
  padding: 6px 25px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.contents_search {
  border: 1px solid gray;
  margin: 0 10px;
  position: relative;
  width: 170px;
}

.whatitname_right i {
  position: absolute;
  top: -2px;
  left: 133px;
}

i {
  color: rgb(61, 61, 61);
}

.contents_search_input {
  border: none;
  height: 25px;
  width: 120px;
  padding: 3px 10px;
  font-size: 15px;
}

.main_contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content_card_container {
  border: 1px solid gray;
  width: 250px;
  height: 300px;
  margin: 0 10px 10px 0;
}

.card_img img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.card_content {
  margin: 10px;
  height: 75px;
}

.card_content > h4,
.card_content > p {
  text-align: center;
  margin: 3px;
}

.card_like {
  font-size: 14px;
  text-align: right;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.card_bottom {
  display: flex;
  margin: 0;
  height: 43px;
  align-items: center;
}

.card_profile > img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100px;
  margin: 2px 5px 0 5px;
}

.card_name {
  width: 140px;
}

.card_bottom span {
  font-size: 13px;
  color: gray;
}

.dp_none {
  display: none;
}

span,
i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/* 모달창 */

.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
  /* height: 4000px; */
  position: fixed;
  top: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.headline1 {
  display: flex;
  margin-bottom: 100px;
}

.profile_img_box {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  overflow: hidden;
  background-color: palegreen;
}

.headline2 {
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.headline3 {
  text-align: right;
  margin-bottom: 10px;
}

.headline3_create_modal {
  background-color: green;
  text-align: left;
}

.edit_btn {
  border: 5px solid black;
  cursor: pointer;
}

.remove_btn {
  border: 5px solid black;
  cursor: pointer;
}

.add_photo_btn {
  border: 5px solid black;
  cursor: pointer;
}

.contents_area {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

/* .comments_area {
  background-color: yellow;
} */

.title {
  padding-left: 10px;
  display: inline;
  color: black;
  font-size: 34px;
}

.close-area {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  color: black;
  font-size: 50px;
  margin-left: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0px solid #666666;
}

/* .content_pic {
  background-color: green;
} */

.content {
  margin: 20px 0px;
  padding: 0px 10px;
  color: black;
}

.comment {
  padding: 0px 10px;
  color: black;
}

.title2 {
  padding-left: 10px;
  color: black;
  font-size: 34px;
  width: 800px;
  border: none;
}

.content2 {
  margin: 20px 0px;
  padding: 0px 10px;
  color: black;
  min-width: 870px;
  min-height: 400px;
  font-size: 16px;
  border: 1px solid black;
}

/* 모달창 댓글 */

.form-commentInfo {
  display: flex;
}

.comment-input {
  min-width: 700px;
  min-height: 60px;
  margin-top: 10px;
  width: 85%;
  border: none;
  border-bottom: 1px solid black;
}

.submit {
  margin-left: auto;
  margin-top: 10px;
  background-color: white;
  width: 10%;
  height: 60px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.comments_btn_wrap {
  text-align: right;
  margin-top: 30px;
}

.comments_content {
  width: 100%;
  min-height: 80px;
  margin-top: 10px;
}

.comments_profile_wrap {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.date {
  margin-left: auto;
}

.create_modal #red {
  color: blue;
}

.cursor {
  cursor: pointer;
}

.profile_wrap {
  display: flex;
  align-items: center;
}

.profile_name {
  margin-left: 10px;
}

.xBtn {
  font-size: 20px;
  position: absolute;
}

.btn {
  padding: 5px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #666666;
  cursor: pointer;
  position: relative;
}

.ml10 {
  margin-left: 10px;
}
