body {
  margin: 0 auto;
  background-color: rgb(249, 249, 249);
  justify-content: center;
  background-color: #eef1ff;
}

p {
  margin: 0px;
}

textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  /* min-width: 650px; */
  justify-content: center;
}

.sidebar_container {
  width: 18%;
  border-right: 1px solid gray;
}

.search_category {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_input {
  border: none;
  height: 34px;
  width: 193px;
  padding: 3px 10px;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.fa-magnifying-glass {
  font-size: 23px;
  margin: 7px;
}

.categorys > span {
  font-size: 20px;
}

.category_container {
  margin: 5px 15px;
}

.categorys > h4 {
  position: relative;
  margin: 27px 0 10px 0;
}

h4 {
  font-size: 20px;
}

.fa-angle-right {
  font-size: 15px;
  margin: 0 15px;
  position: absolute;
  top: 3px;
}

.fa-angle-down {
  font-size: 15px;
  margin: 0 15px;
  position: absolute;
  top: 3px;
}

.mypick_content {
  display: flex;
  margin: 0 0 10px 6px;
  letter-spacing: 2px;
  justify-content: space-between;
}

.category_bookmark {
  font-size: 13px;
  margin-right: 10px;
  flex-basis: 13px;
}

.category_name {
  width: 150px;
}

.category_vote,
.category_request {
  font-size: 13px;
}

.nav_container {
  border-bottom: 1px solid gray;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

.nav_logo img {
  height: 50px;
  padding: 10px 0;
  object-fit: cover;
}

.nav_profile img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 3px 5px 0 0;
  object-fit: cover;
  cursor: pointer;
}

.whatitname_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
  /* width: 100%; */
  /* min-width: 1200px; */
}

.whatitname_right {
  /* margin: 0 25px; */
  display: flex;
}

.whatitname_left span {
  margin: 0 10px;
}

.fa-heart,
.fa-clock {
  margin-right: 5px;
}

.whatitname_right button:hover {
  transition: all 0.6s;
  background-color: #8a70bc;
  color: #ffffff;
  border: 1px solid #1c134e;
}
.whatitname_right button:first-child {
  padding: 0;
  width: 210px;
}
.whatitname_right button {
  padding: 6px 25px;
  background-color: #1c134e;
  color: #ccb9ed;
  border: 1px solid #cdb4fb;
  border-radius: 5px;
  font-size: medium;
}

.contents_search {
  border: 1px solid gray;
  margin: 0 10px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.whatitname_right i {
  position: absolute;
  top: -2px;
  left: 133px;
}

i {
  color: rgb(61, 61, 61);
}

.contents_search_input {
  border: none;
  height: 25px;
  width: 100%;
  padding: 3px 10px;
  font-size: 15px;
  background-color: transparent;
}

.main_contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content_card_container {
  cursor: pointer;
  border: 1px solid gray;
  width: 100%;
  max-width: 250px;
  height: 300px;
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0px #aebaf0;
  background-color: #fff;
}

.content_card_container:hover {
  box-shadow: 2px 2px 6px 4px #818fcf;
}

.content_card_container .card_img {
  overflow: hidden;
  border-radius: 9px 9px 0px 0px;
}
.card_img img:hover {
  transform: scale(1.1);
  transition: all 0.6s;
}
.card_img img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.card_content {
  margin: 10px;
  height: 100px;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.card_content:hover {
  transition: all 0.6s;
  background-color: #eee;
}
.card_content > h4,
.card_content > p {
  cursor: pointer;
  text-align: center;
  margin: 3px;
}

.card_content > h4 {
  overflow: hidden;
  height: 27px;
}

.card_like {
  font-size: 14px;
  text-align: right;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.card_bottom {
  display: flex;
  margin: 0;
  height: 43px;
  align-items: center;
}

.card_profile > img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100px;
  margin: 2px 5px 0 5px;
}

.card_name {
  width: 140px;
}

.card_bottom span {
  font-size: 13px;
  color: gray;
}
.card_date span {
  display: flex;
  text-align: end;
  padding-right: 8px;
}

.disabled {
  display: none;
}

.dp_none {
  display: none;
}

span,
i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.color_mode {
  position: absolute;
  width: 80px;
  bottom: 30%;
}

.profile-menu-login p,
.profile-menu-logout p {
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .contents_search {
    height: 31px;
    width: 80%;
    margin: 15px 0;
  }
  .contents_search_input {
    max-width: 70%;
  }
  .whatitname_right button:first-child {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .whatitname_right button {
    max-height: 33px;
    min-width: 114px;
    padding: 6px 15px;
  }
  .whatitname_container {
    display: block;
  }
  .whatitname_right {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .whatitname_left {
    text-align: center;
    margin-bottom: 12px;
  }
}
